body {
  background: rgb(46, 30, 0);
  padding-top: 90px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe {
  width: 100%;
  max-width: 1000px;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar {
  background-color: rgb(24, 14, 1);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5);
  padding: 10px;
}

.homepage-link {
  color: #eeeeee;
  position: absolute;
  left: 10px;
}

.image-row {
  width: 100%;
  max-width: 1000px;
  height: 500px;
}

.biryani-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-translation {
  font-size: 0.8rem;
}

.description {
}
